*{
  margin: 0;
  padding: 0;
}

body {
  font-family: MS Pゴシック,ヒラギノ角,Osaka,Pro W3,san-self;
  color: #664933;
  background-image: url(images/K3.png);
  width: 100%;
}

a {
  //color: #00aaff;
  //color: #2ECCFA;
  color: #FA58AC;
  font-weight: bold;
}

a:hover {
  text-decoration: none; 
}

div#wrapper{
  margin: 0 auto;
  padding-top: 20px;
  width: 420px;
  text-align: center;
}

h1#hitokoto {
  background-image: url(images/title_w420.png);
  background-repeat: no-repeat;
  width: 420px;
  height: 120px;
  margin-bottom: 20px;
}

h1#hitokoto span {
  display: none;
}

h2{
  padding-bottom: 15px;
  font-size: 140%;
  text-align: center;
  color: #664933;
  font-weight: normal;
}
/*h1:a {
  color: #664933;
}*/

.submit {
  //margin: 0 0 20px 0;
  font-size: 0.8em;
  cursor:pointer;
  border-radius: 5px;
  border:solid 1px #ccc;
  //background-color: #FE2E9A;
  background-color: #FA58D0;
  color: #ffffff;
  padding: 2px 6px;  
}

div.space05px {
	clear: both;
	font-size: 5px;
	height: 7px;
}

div.space10px {
	clear: both;
	font-size: 5px;
	height: 10px;
}

div.space15px {
	clear: both;
	font-size: 5px;
	height: 15px;
}

/****************************************************/
.title-lay {
  text-align: left;
  padding-bottom: 20px;
}

table.lay {
  //margin: 0 auto;
  //margin-left: 24px;
  background-color: #ffffff;
  border: #d2b48c;
  border-collapse:collapse;
  //empty-cells: show; //空セルの境界線
  //border-left:1px solid #d2b48c;  
}

table.lay th{
  background-color: #eeeeee;
}
table.lay th,
table.lay td{
  padding: 5px;
}

table.lay td.delate{
  text-align: center;
}

textarea.lay {
  border: 1px;
  border-style: dotted;
  border-color: #d2b48c;
  border-radius: 5px; //角丸の効果
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
  width: 425px;
  height: 2em;
  margin-bottom:5px;
}

select.lay {
  border: 1px;
  border-style: dotted;
  border-color: #d2b48c;
  width: 425px;
  height: 2em;
  margin-bottom: 5px;
}

/*input:focus{
  border: solid 1px #FF00FF;
}*/

input:focus, select:focus, textarea:focus {
  outline: 2px #F5A9D0 solid;
}

/************************************************/

.comment-post {
  text-align: left;
  width: 100%;
  //margin-left: 34px;
}

textarea.comment-lay {
  border: 1px;
  border-style: dotted;
  border-color: #d2b48c;
  border-radius: 5px; //角丸の効果
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
  width: 425px;
  height: 6em;
  margin-bottom:5px;
  padding: 5px;
}

/***************************************/
/* ログインなどの入力画面
/***************************************/
.log-lay {
  //margin: 0 auto;
  padding-bottom: 20px;
}

.log-form {
  width: 210px;
  height: 2.5em;
  //margin-top: 15px;
  margin-bottom: 20px;
  //padding-top: 15px;
}

.log-lay dl dt {
  float: none;
  width: auto;
  height: auto;
  line-height: 1.6em;
  clear: none;
}

.question {
  display: block;
  width: 11em;
  float: left;
  text-align: right;
}
